.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 53px;
    background-color: rgb(23, 23, 93);
    color: white;
}
.img-right{
    border-right: 1px solid black;
    height: 89%;
  
}
.img {
    border-left: 1px solid black;
    height: 89%;
  
}
.icon {
    margin: 11px 20px;
}