<header class="flex">
        <div class="img-right">
                <img class="icon" src="assets/img/menu.png" alt="">
        </div>
    <h2>Pago de servicios</h2>
    <div class="img">
            <img class="icon" src="assets/img/star1.png" alt="">
    </div>
    
</header>

