.section {
    margin: 9px;
}
.btn {
   /*  border: 4px solid beige; */
   border-radius: 6px;
   border-left: 7px solid orange;
   border-right: 1px solid rgba(128, 128, 128, 0.356);
   border-top: 1px solid rgba(128, 128, 128, 0.356);
   border-bottom: 1px solid rgba(128, 128, 128, 0.356);
}
hr {
    border-top: 1px solid rgba(128, 128, 128, 0.356);
    border-radius: 20px; 
 }
 .show {
    border: 1px solid rgba(128, 128, 128, 0.356);
    border-top-style: none;
    width: 98.5%;
    margin: 0 2px 0px 2px;
    height: 6px;
    border-radius: 2px 2px 6px 6px;
 }
 .show-2 {
    border: 1px solid rgba(128, 128, 128, 0.356);
    border-top-style: none;
    width: 97.5%;
    margin: 0 2px 0px 4px;
    height: 6px;
    border-radius: 2px 2px 6px 6px;
 }
 .show-3 {
    border: 1px solid rgba(128, 128, 128, 0.356);
    border-top-style: none;
    width: 96.5%;
    margin: 0 2px 0px 6px;
    height: 6px;
    border-radius: 2px 2px 6px 6px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
 }

 input {
    width: 85%;
    border-radius: 6px;
    height: 32px;
    margin: 0 7px 7px 7px;
    outline: none;
    border: 1px solid #C2C2C2;
    cursor: pointer;
    background-color: #cccccc42;

 }

 .text {
     margin-bottom: 4px;
 }
 .section-btn {
     margin: 7px;
     display: flex;
     justify-content: space-between;
     margin-top: 12px;
 }
 button {
    width: 48%;
    height: 40px;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    border: 1px solid #C2C2C2;
    font-size: 19px;
 }
 .orange {
     background-color:  #FF1F00;
     color: white;
 }
 .row {
   background-color: #FF1F00;
   width: 20px;
   height: 20px;
   border: 1px solid #FF1F00;
   border-radius: 18px;
   margin-top: 18px;
 }
 .row-img {
   margin: 7px 0 0 3px;
}
.title {
   display: flex;
   justify-content: space-between;
   padding: 0 10px 0px 10px;
}
.text-margin {
   padding: 0 10px 0px 10px;
 
   
}