<section class="section">
  <div class="btn">
    <div class="title">
        <h5>Categoria</h5>
        <div class="row">
          <img class="row-img" src="assets/img/row.png" alt="">
        </div>
    </div>
   
    <hr>
    <h4 class="text-margin">TELEFONIA</h4>  
  </div>
  <div class="show"></div>
  <div class="show-2"></div>
  <div class="show-3"></div>
</section>

<section class="section">
  <div class="btn">
      <div class="title">
          <h5>Empresa</h5>
          <div class="row">
            <img class="row-img" src="assets/img/row.png" alt="">
          </div>
      </div>
    
    <hr>
    <h4 class="text-margin">BITEL-POSTPAGO</h4>
  </div>
  <div class="show"></div>
  <div class="show-2"></div>
  <div class="show-3"></div>
</section>

<section class="section">
  <div class="btn">
      <div class="title">
          <h5>Servicio</h5>
          <div class="row">
            <img class="row-img" src="assets/img/row.png" alt="">
          </div>
      </div>
   
    <hr>
    <h4 class="text-margin">POSTPAGO BITEL (SOLES)</h4>
  </div>
  <div class="show"></div>
  <div class="show-2"></div>
  <div class="show-3"></div>
</section>

<section class="section">
  <div class="btn">
    <h5 class="text">NÚMERO DE CELULAR</h5>
    <input type="number">
  </div>
</section>

<section class="section-btn">
  <button>Cancelar</button>
  <button class="orange">Continuar</button>
</section>