<section class="section">
    <div class="btn">
       <div style="display: flex;"><span> <img class="icon" src="assets/img/ticket.png" alt=""></span>  <h5> Pago de servicio   </h5></div> 
        <div class="row"    [routerLink]="['/Pago-2']" >
            <img class="row-img" src="assets/img/row-orange.png" alt="">
          </div>
    </div>
</section>


