.section {
    margin: 9px;
}
.btn {
   /*  border: 4px solid beige; */
   display: flex;
   justify-content: space-between;
   padding: 10px 0 10px 0;
   border-radius: 6px;
   border-left: 7px solid #FF1F00;
   border-right: 1px solid rgba(128, 128, 128, 0.356);
   border-top: 1px solid rgba(128, 128, 128, 0.356);
   border-bottom: 1px solid rgba(128, 128, 128, 0.356);
}
h5 {
    margin: 8px;
}
.icon {
    margin-top: 4px;
}