.section {
   margin: 9px;
}
.btn {
    /*  border: 4px solid beige; */
    border-radius: 6px;
    border-left: 7px solid  #FF1F00;
    border-right: 1px solid rgba(128, 128, 128, 0.356);
    border-top: 1px solid rgba(128, 128, 128, 0.356);
    border-bottom: 1px solid rgba(128, 128, 128, 0.356);
 }
 h5, p, h6 {
    margin: 8px;
 }
hr {
   border-top: 1px solid rgba(128, 128, 128, 0.356);
}
.title {
   display: flex;
   justify-content: space-between;
   padding: 0 0px 0px 0px;
}
.row-img {
   cursor: pointer;
}