<section class="section">
  <h3> <span> <img src="assets/img/star.png" alt=""></span> Favoritos</h3>
 <div class="btn">
 

      <h5>Claro Josh</h5>
   
  <div class="title">
  <p>Pago de servicio -Soles</p>
  <div  [routerLink]="['/Pago-2']" >
      <img class="row-img" src="assets/img/row-orange.png" alt="">
  </div>
 
</div>
  <h6>456749</h6>
  <hr>
  <h5>Claro Josh</h5>
  <div class="title">
  <p>Pago de servicio -Soles</p>
  <div  [routerLink]="['/Pago-2']" >
      <img class="row-img" src="assets/img/row-orange.png" alt="">
  </div>
 
</div>
  <h6>456749</h6>
  <hr>
  <h5>Claro Josh</h5>
  <div class="title">
  <p>Pago de servicio -Soles</p>
  <div  [routerLink]="['/Pago-2']" >
      <img class="row-img" src="assets/img/row-orange.png" alt="">
  </div>
 
</div>
  <h6>456749</h6>
</div> 
</section>